<!-- DASH HEADER -->
<ul class="flex-container">
    {{!-- BOX 1 --}}
    <div class="flex-item">
        <ul>
            <li>Infos</li>
            <li class="user-data" id="name-card">First Name: {{user.firstName}}</li>
            <li class="user-data" id="name-card">Last Name: {{user.lastName}}</li>
            <li class="user-data" id="name-card">Email: {{user.email}}</li>  
        </ul>
    </div>
    {{!-- BOX 2 --}}
    <div class="flex-item msg" id="chart3">
        <h3> I need to get better in</h3>
        <h2>{{tool}}</h2>
    </div>
    {{!-- BOX 3 --}}
    <div id="box3" class="flex-item"></div>

</ul>

<!-- MAIN BLOCK -->
<div class="main-block">

    <!-- ASIDE 1 -->
    <aside class="aside aside-1">
        <a class="menu-link nav-link font-Roboto" >Menu</a>
        <a class="nav-link" href="https://github.com" target="_blank">GitHub</a>
        <a class="nav-link" href="https://www.codewars.com" target="_blank">Codewars</a>
        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSe6GB6wMknsOxWTjcWgQhyd_OL2CgTNSTP37qqS4O9JSqM1Sw/viewform" target="_blank">Weekly Review</a>
        <a class="nav-link" href="http://learn.ironhack.com" target="_blank">Learn IronHack</a>
        <a class="nav-link" href="https://drive.google.com/drive/folders/1st-9ajQDPOByGb5pk-i_w0RvYzZpeDhG" target="_blank">Digital Library</a>
        <br>        
        <div class="btn-group dropright">
            <button type="button" class="link-button btn btn-secondary dropdown-toggle font-Roboto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Links
            </button>
            <div class="dropdown-menu">
                <h6 class="dropdown-header">links</h6>
                <a class="dropdown-item" href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Guide" target="_blank">JavaScript - MDN</a>
                <a class="dropdown-item" href="https://www.w3schools.com/" target="_blank">w3schools</a>
                <a class="dropdown-item" href="https://stackoverflow.com/" target="_blank">Stack Overflow</a>
                <a class="dropdown-item" href="https://www.infoq.com/br" target="_blank">InfoQ</a>
                <a class="dropdown-item" href="https://cubo.network/eventos" target="_blank">Cubo</a>
                <a class="dropdown-item" href="##" target="_blank">xxxx</a>
            </div>
        </div>   
        <a class="margin-buttons btn-links btn btn-primary font-Roboto" role="button"  href="/form">Daily Form</a>
        <a class="margin-buttons btn-links btn btn-primary font-Roboto" role="button"  href="/timeline">Timeline</a>        
        <a class="margin-buttons btn-links btn btn-primary font-Roboto" role="button"  href="/flashcard">Flashcards</a>        
    </aside>
    
    <!-- ARTICLE -->
    <article class="main">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item  font-Roboto" aria-current="page" id="code-phrase">{{phrase}}</li>
            </ol>
            <div class="chart" id="chart"></div>
        </nav>
        
    </article>
    
    <!-- ASIDE 2 -->
    <aside class="aside aside-2">
        <div id="myDIV" class="header">
            <h5 class="font-Roboto">To Do List</h5>
            <input type="text" id="myInput" placeholder="Title...">
            <span onclick="newElement()" class="addBtn badge badge-dark font-Roboto">Add</span>
        </div>
                
        <ul id="myUL">
            <li class="list-class">Read more MDN</li>
            <li class="list-class">Katas</li>
            <li class="list-class">Do labs</li>
            <li class="list-class">More water, less coffee</li>
            <li class="list-class">Hoisting? What?</li>
            <li class="list-class">Organize notes</li>
        </ul>
    </aside>    
</div>



